<mat-card class="chatcard">
    <mat-card-title><div class="center-alignment"><mat-icon>chat</mat-icon>&nbsp;{{'components.orderset.chat'|translate}}</div></mat-card-title>
    <div class="font-size-small">
        <div *ngFor="let msg of data" style="margin: .5em 0;">
        <span style="color: #777; font-size: .75em;">{{msg.name}} [{{formatMoment(msg.date)}}]</span><br/>
        <span style="color: black;">{{msg.msg}}</span>
        </div>
    </div>
    <form class="font-size-middle">
        <mat-form-field>
        <input #inpchat name="chatmsg" matInput [placeholder]="'components.orderset.chat_msg'|translate" [(ngModel)]="chatInput">
        <button type="submit" mat-button *ngIf="chatInput && chatInput.trim().length" matSuffix mat-icon-button (click)="sendChatMsg()" [title]="'components.orderset.chat_msg_send'|translate">
            <mat-icon>send</mat-icon>
        </button>
        </mat-form-field>
    </form>
</mat-card>
