<div fxFlex fxLayout="column">
    <div fxLayout="row" fxLayoutGap=".5em">
        <div class="locfavcheck">
            <mat-checkbox [(ngModel)]="checked"></mat-checkbox>
        </div>
        <div style="flex: 1 1 auto;" (click)="showEditControls=true;" (mouseenter)="showEditControls=true;" (mouseleave)="showEditControls=false;">
            <div style="font-size: .7em; line-height: 30px;">
                {{location.name}}
                <button *ngIf="showEditControls" mat-icon-button [title]="'general.edit'|translate" (click)="edit()"><mat-icon style="font-size: 1.5em;">edit</mat-icon></button>
            </div>
            <mat-card-subtitle style="margin:0;" *ngIf="location.description">{{location.description}}</mat-card-subtitle>
            <div style="font-size: .5em;" *ngIf="location.menu_link">
                <a target="_blank" [href]="location.menu_link">{{'general.menucard'|translate}}</a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="1em">
            <div style="font-size: .4em;">
                <div gdAlignRows="end" *ngFor="let v of location.votes">
                    {{v}} ⭐
                </div>
            </div>
            <div fxShow fxHide.xs fxFlexAlign="end">
                <button *ngIf="location.votes && location.votes.length" mat-raised-button color="primary" (click)="takeOrdersClicked()">{{'components.location.placeorder'|translate}}</button>
            </div>
        </div>
    </div>
    <div fxHide fxShow.xs>
        <button *ngIf="location.votes && location.votes.length" mat-raised-button color="primary" (click)="takeOrdersClicked()">{{'components.location.placeorder'|translate}}</button>
    </div>
    <div>
        <hr/>
    </div>
</div>
