<mat-toolbar id="primarybar" color="primary" class="mat-elevation-z6">
    <span class="topbar-logo"></span>
    <div style="margin-left: 1em; font-weight: bold;">{{title}}</div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button title="Settings">
        <mat-icon>settings_applications</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar id="secondarybar" color="secondary" class="mat-elevation-z6">
    <div class="headerSign" fxLayout="column">
      <div>
        {{app.community && app.community.name}}
        <button *ngIf="app.community" mat-icon-button [title]="'Copy link to https://lunch.community?id='+app.community.webid">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
</mat-toolbar>
