<mat-toolbar id="primarybar" color="primary" class="mat-elevation-z6">
    <a [routerLink]="['/']"><div class="topbar-logo"></div></a>
    <div class="{{tw && tw.currentIndex == 0 ? 'title-long' : 'title'}}">{{title}}</div>
    <span style="flex: 1 1 auto;"></span>
    <button fxShow fxHide.xs *ngIf="app.community" mat-icon-button [title]="'general.settings'|translate" [routerLink]="['/settings']">
      <mat-icon>settings_applications</mat-icon>
    </button>
    <button fxHide fxShow.xs *ngIf="app.community && (!tw || (tw && tw.currentIndex != 0))" mat-icon-button [title]="'general.settings'|translate" [routerLink]="['/settings']">
        <mat-icon>settings_applications</mat-icon>
    </button>
</mat-toolbar>
<!-- testing carousel: -->
<div fxLayout="row" class="mat-elevation-z6" style="height: 64px;">
  <div fxFlex style="background: url('/assets/dishes/dish1.jpg') no-repeat center center; background-size: cover;"></div>
  <div fxFlex style="background-color: red;"></div>
  <div fxFlex style="background-color: orange;"></div>
  <div fxFlex fxHide.lt-sm style="background-color: blue;"></div>
  <div fxFlex fxHide.lt-md style="background-color: yellow;"></div>
  <div fxFlex fxHide.lt-lg style="background-color: brown;"></div>
</div>
<!-- end -->
<mat-toolbar id="secondarybar" color="secondary" class="mat-elevation-z6">
    <div class="headerSign" fxLayout="column">
      <div>
        {{app.name ? app.name + " @" : ""}} {{app.community && app.community.name}}
        <button *ngIf="app.community" mat-icon-button [title]="'components.topbar.copy_link'|translate:{communityLink: communityLink}" ngxClipboard [cbContent]="communityLink" (click)="linkCopied()">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <donate fxShow fxHide.xs></donate>
</mat-toolbar>
<mat-progress-bar *ngIf="app.loading" mode="buffer" color="accent"></mat-progress-bar>
<donate fxHide fxShow.xs fxLayoutAlign="end" style="padding: 12px 16px 0;"></donate>
