<mat-toolbar id="primarybar" color="primary" class="mat-elevation-z6">
    <a [routerLink]="['/']"><div class="topbar-logo"></div></a>
    <div style="margin-left: .5em; font-weight: bold;">{{title}}</div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button title="Settings" [routerLink]="['/settings']">
        <mat-icon>settings_applications</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar id="secondarybar" color="secondary" class="mat-elevation-z6">
    <div class="headerSign" fxLayout="column">
      <div>
        {{app.name ? app.name + " @" : ""}} {{app.community && app.community.name}}
        <button *ngIf="app.community" mat-icon-button [title]="'Link kopieren: '+communityLink" ngxClipboard [cbContent]="communityLink" (click)="linkCopied()">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <form #form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:flex; vertical-align: middle">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="6KJS5SZJ8REPW" />
        <input type="hidden" name="return" value="https://lunch.community/" />
        <input (click)="form.submit()" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" title="Donations are keeping the lunch.community service alive! Thank you!" alt="Donate with PayPal button" />
        <img alt="" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
      </form>     
    </div>
</mat-toolbar>
