<mat-toolbar color="primary" class="mat-elevation-z6">
  <span class="headerSign">Lunch Master 3000<sup>&reg;</sup></span>
</mat-toolbar>

<mat-card>
  <form class="name-form">
    <mat-form-field>
      <input #inpname name="name" matInput placeholder="Wie heißt du?" [(ngModel)]="nameInput" [disabled]="nameInUse">
    </mat-form-field>
  </form>
</mat-card>

<div *ngIf="name && name.length > 2">
  <div *ngFor="let orderSet of data.ordersets">
    <orderset [orderSet]="orderSet" [own]="orderSet.name==name" (orderChanged)="order($event)" (cancelled)="cancel($event)" (isTyping)="isTyping = $event"></orderset>
  </div>
</div>

<mat-card *ngIf="name && name.length > 2" class="favlist">
  <mat-card-title>Favoritenliste</mat-card-title>
  <mat-card-subtitle>Hallo {{name}}!</mat-card-subtitle>
  <mat-card-subtitle>Bitte wähle aus, auf was du heute Appetit hast. Mehrfachauswahl ist möglich.</mat-card-subtitle>
  <form class="favorites-form">
    <div *ngFor="let l of data.locations">
      <location [location]="l" (change)="checkboxChanged($event)" (takeOrders)="takeOrders($event)"></location>
    </div>
  </form>
</mat-card>
