<mat-card class="orderSet">
  <mat-card-title>{{orderSet.location.name}}</mat-card-title>
  <mat-card-subtitle>{{orderSet.name}} bestellt heute bei {{orderSet.location.name}}. Hier ist die <a target="_blank" [href]="orderSet.location.link">Speisekarte</a>.</mat-card-subtitle>
  <mat-card-subtitle>Wenn du etwas mitbestellen möchtest, schreibe es unten hin.</mat-card-subtitle>
  <div *ngIf="!own && orderSet.comment" style="font-size: .5em;">
    <mat-card-subtitle>Infos von {{orderSet.name}}:</mat-card-subtitle>
    <pre>{{orderSet.comment}}</pre>
  </div>
  <div *ngIf="own" style="font-size: .5em;">
    <form class="comment-form">
        <mat-form-field>
            <textarea #inpcomment name="comment" matInput placeholder="Bestellhinweise / Infos" [(ngModel)]="commentInput"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input #inppaylink name="paylink" matInput placeholder="Bezahllink" [(ngModel)]="payLinkInput"/>
        </mat-form-field>
    </form>
  </div>
  <table mat-table [dataSource]="orderKeys" class="mat-elevation-z3" style="width:100%; margin-bottom: 1em;">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef> Bestellwunsch </th>
            <td mat-cell *matCellDef="let element"> {{orderSet.orders[element].order}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Preis </th>
            <td mat-cell *matCellDef="let element"> {{formatPrice(orderSet.orders[element].price)}} </td>
        </ng-container>
        <ng-container matColumnDef="paylink">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"><a *ngIf="orderSet.name!=name && element==name && orderSet.orders[element].price && orderSet.payLink" target="_blank" [href]="formatPayLink(orderSet.orders[element])">Jetzt bezahlen</a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="sum" style="float:right; font-size: .5em; margin-bottom: 1em;">
    Gesamt: {{sum}}
  </div>
  <div style="clear:both;"></div>
  <div *ngIf="orderSet.finished && !orderSet.arrived" style="font-size: .6em;">
      Die Bestellung ist beendet. Sobald das Essen da ist, {{own ? 'drücke auf den Knopf!':'erhältst du eine Nachricht!'}}
  </div>
  <div *ngIf="!orderSet.finished">
    <form class="order-form">
        <div style="float:left; font-size: .75em; width: 80%;">
          <mat-form-field>
              <input #inporder name="order" matInput [placeholder]="own ? 'Dein eigener Bestellwunsch' : ' Was möchtest du haben?'" [(ngModel)]="orderInput">
              <button type="button" mat-button *ngIf="orderInput" matSuffix mat-icon-button aria-label="Clear" (click)="orderInput=''">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
        </div>
        <div style="float:left; font-size: .75em; width: 20%;">
          <mat-form-field>
              <input #inpprice name="price" matInput currencyMask placeholder="Preis" [(ngModel)]="priceInput" [options]="{prefix: '', suffix: ' €', thousands: '.', decimal: ','}">
          </mat-form-field>
        </div>
    </form>
  </div>
  <div *ngIf="!orderSet.finished && orderKeys.length" style="float:left;">
    <button *ngIf="own" mat-raised-button color="primary" (click)="finish()">Bestellannahme für alle beenden</button>
  </div>
  <div *ngIf="orderSet.finished && !orderSet.arrived" style="float:left;">
    <button *ngIf="own" mat-raised-button color="accent" (click)="arrive()">Essen ist da!!</button>
  </div>
  <div *ngIf="orderSet.finished && orderSet.arrived" style="float:left;">
    Das Essen ist da!!
  </div>
  <div style="float:right;">
    <button *ngIf="own" mat-raised-button color="warn" (click)="cancel()">Bestellung löschen</button>
  </div>
  <div style="clear:both;"></div>
</mat-card>
