<div *ngIf="name && name.length > 2">
  <div *ngFor="let orderSet of orderSets">
    <orderset [orderSet]="orderSet" [name]="name" (orderChanged)="order($event)" (commentChanged)="update($event)" (cancelled)="cancel($event)" (finished)="finish($event)" (arrived)="arrive($event)" (chatMessage)="sendChatMsg($event)" (isTyping)="isTyping = $event"></orderset>
  </div>
</div>

<mat-card *ngIf="name && name.length > 2" class="favlist">
  <mat-card-title><mat-icon>star</mat-icon> Favoritenliste</mat-card-title>
  <mat-card-subtitle>Hallo {{name}},</mat-card-subtitle>
  <mat-card-subtitle>
    bitte wähle aus, auf was du heute Appetit hast. Mehrfachauswahl ist möglich.
    <br/>
    Wenn du dich dazu entscheidest, Essen für dich und deine Kollegen bei einem der Restaurants
    zu bestellen und abzuholen oder liefern zu lassen, dann drücke auf <i>Bestellungen aufnehmen</i>. Ansonsten warte einfach,
    bis ein anderer dies tut, dann kannst du dich anschließen.
  </mat-card-subtitle>
  <mat-card-subtitle>
    Hinweis: Du musst diese Website nicht neu laden (sie aktualisiert sich von alleine) und alles, was du anklickst und eintippst, ist für deine Commmunity sofort sichtbar,
    auch ohne dass du die Eingabe-Taste dazu drücken musst (Ausnahme: Chatnachricht absenden).
  </mat-card-subtitle>
  <mat-card class="ordercard" *ngIf="!data || !data.locations.length">
    <mat-card-subtitle>
      <mat-icon>info</mat-icon> Diese Community scheint noch neu zu sein.
    </mat-card-subtitle>
    <mat-card-subtitle>
      Bitte lade deine Kollegen zu dieser Community ein, indem du den Link zu dieser Community über das Teilen-Symbol <mat-icon style="font-size: .8em; width: 1em; height: 1em;">share</mat-icon>
      oben in der Titelzeile kopierst und an deine Kollegen sendest. Der Link enthält eine geheime, eindeutige ID zu dieser
      Community. Bitte sorge dafür, dass nur die Personen deines Teams oder deiner lokalen Organisation den Link kennen,
      damit deine Community nicht von Fremden missbraucht wird.
    </mat-card-subtitle>
    <mat-card-subtitle>
      Füge dann bitte unten über das Plus-Symbol neue Essens-Locations hinzu, um deine Community mit Leben
      zu füllen.
    </mat-card-subtitle>
  </mat-card>
  <form class="favorites-form">
    <div fxFlex fxLayout="column">
      <div *ngFor="let l of data.locations">
        <location [location]="l" [name]="name" (change)="checkboxChanged($event)" (takeOrders)="takeOrders($event)"></location>
      </div>
      <div gdAlignRows="start" *ngIf="!app.locationEditor || !app.locationEditor.location" (click)="app.locationEditor.newLocation()"><button mat-icon-button title="Neue Location hinzufügen"><mat-icon>add_box</mat-icon></button></div>
    </div>
  </form>
  <location-edit #locationEditor></location-edit>
</mat-card>
