<div *ngIf="name && name.length > 2">
  <div *ngFor="let orderSet of orderSets">
    <orderset [orderSet]="orderSet" [name]="name" (orderChanged)="order($event)" (commentChanged)="update($event)" (cancelled)="cancel($event)" (finished)="finish($event)" (arrived)="arrive($event)" (chatMessage)="sendChatMsg($event)" (isTyping)="isTyping = $event"></orderset>
  </div>
</div>

<mat-card *ngIf="name && name.length > 2" class="favlist">
  <mat-card-title><mat-icon>star</mat-icon> Favoritenliste</mat-card-title>
  <mat-card-subtitle>Hallo {{name}},</mat-card-subtitle>
  <mat-card-subtitle>
    bitte wähle aus, auf was du heute Appetit hast. Mehrfachauswahl ist möglich.
    <br/>
    Wenn du dich dazu entscheidest, Essen für dich und deine Kollegen bei einem der Restaurants
    zu bestellen und abzuholen oder liefern zu lassen, dann drücke auf <i>Bestellungen aufnehmen</i>. Ansonsten warte einfach,
    bis ein anderer dies tut, dann kannst du dich anschließen.
  </mat-card-subtitle>
  <mat-card-subtitle>
    Hinweis: Du musst die Website niemals neu laden und alles, was du anklickst und eintippst, ist für alle sofort sichtbar.
    Die Eingabe-Taste musst du niemals drücken (Ausnahme: Chatnachricht absenden).
  </mat-card-subtitle>
  <form class="favorites-form">
    <div *ngFor="let l of data.locations">
      <location [location]="l" [name]="name" (change)="checkboxChanged($event)" (takeOrders)="takeOrders($event)"></location>
    </div>
  </form>
</mat-card>
