/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-size: 2em;
    height: 100%;
    background-image: url('./assets/background.jpg');
    background-size: cover;
}

body {
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: darkblue;
}

.headerSign {
    width: 100%;
    text-align: center;
}

.mat-card {
    margin: 1.5em;
    background-color: white;
}

.mat-card.favlist {
    background-color: #eaecf3;
}

.mat-card.orderSet {
    background-color: #e7f1e4;
}

.mat-form-field {
    width: 100%;
}

.mat-checkbox-inner-container {
    height: 32px !important;
    width: 32px !important;
}
