/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background-color: rgb(200, 228, 201);
    height: 100%;
}

::-webkit-scrollbar { 
    display: none;
}

.mat-card {
    font-family: 'PT Sans', sans-serif;
}

.mat-toolbar {
    font-family: 'PT Sans', sans-serif;
    font-size: .6em;
}
  
.mat-card-subtitle {
    font-size: .5em;
}

body {
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #2E7D32;
}

.headerSign {
    width: 100%;
    text-align: center;
    font-size: .85em;
}

.topbar-logo {
    width: 42px;
    height: 42px;
    background: url("assets/logo.png") top left no-repeat;
    background-size: 42px 42px;
}

.mat-toolbar.mat-primary {
    background: #4CAF50;
    color: white;
}

.mat-toolbar.mat-secondary {
    background: #2E7D32;
    color: white;
}

#primarybar.mat-toolbar-single-row {
    height: 64px;
}

#secondarybar.mat-toolbar-single-row {
    height: 30px;
}

#secondarybar .material-icons {
    font-size: 17px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background: #2E7D32;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: #2E7D32;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #2E7D32;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

#footer {
    display: flex;
    font-size: .5em;
}

a.footerlink {
    margin-right: 1em;
}

.mat-card {
    margin: 16px;
    background-color: white;
}

@media (min-width: 960px) {
    .mat-card {
        margin: 32px 128px;
    }
}

.mat-card.createcard {
    background-color: lightgoldenrodyellow;
}

.mat-card.favlist {
    background-color: white;
}

.mat-card.orderSet {
    background-color: #e7f1e4;
}

.mat-card.notecard {
    margin: 0 0 1em 0;
}

.mat-card.ordercard {
    margin: 0 0 .5em 0;
    background-color: lightgoldenrodyellow;
}

.mat-card.chatcard {
    margin: 0;
    background-color: lightgoldenrodyellow;
}

.mat-card.orderlist {
    margin: 0 0 .5em 0;
    background-color: white;
}

.mat-card.orderSetInfo {
    margin: 0 0 .25em 0;
}

.mat-form-field {
    width: 100%;
}

.locfavcheck .mat-checkbox-inner-container {
    height: 32px !important;
    width: 32px !important;
}

td.mat-cell, th.mat-header-cell {
    padding: 0 1em !important;
}

.mat-snack-bar-container {
    color: white;
    background-color: #2E7D32;
}

pre {
    font-family: sans-serif;
    font-size: 14px;
}

.chat-form {
    font-size: .5em;
}

.favorites-form .mat-icon-button {
    color: #2E7D32;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

/* responsive mat-table */
@media(max-width: 600px) {
    td.mat-cell {
        border: none !important;
        padding: 1px 0 !important;
    }
    tr.mat-row {
        border-bottom: solid 1px rgba(0,0,0,.12);
        padding: .25em 0 !important;
        height: auto !important;
    }
}
