/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 2em;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background-color: rgb(200, 228, 201);
    height: 100%;
}
  
body {
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: darkblue;
}

.headerSign {
    width: 100%;
    text-align: center;
}

.mat-toolbar.mat-primary {
    background: #4CAF50;
    color: white;
}

.mat-toolbar.mat-secondary {
    background: #2E7D32;
    color: white;
}

#primarybar.mat-toolbar-single-row {
    height: 64px;
}

#secondarybar.mat-toolbar-single-row {
    height: 30px;
    padding: 0;
}

#secondarybar .material-icons {
    font-size: 18px;
}

.mat-card {
    margin: .5em;
    background-color: white;
}

@media (min-width: 960px) {
    .mat-card {
        margin: 1em 4em;
    }
}

.mat-card.favlist {
    background-color: #eaecf3;
}

.mat-card.orderSet {
    background-color: #e7f1e4;
}

.mat-card.notecard {
    margin: 0 0 .5em 0;
    background-color: lightyellow;
}

.mat-card.chatcard {
    margin: 0;
    background-color: white;
}

.mat-card.orderlist {
    margin: 0 0 .5em 0;
    background-color: white;
}

.mat-form-field {
    width: 100%;
}

.locfavcheck .mat-checkbox-inner-container {
    height: 32px !important;
    width: 32px !important;
}

td.mat-cell, th.mat-header-cell {
    padding: 0 24px !important;
}

.mat-snack-bar-container {
    color: white;
    background-color: red;
}

pre {
    font-family: sans-serif;
    font-size: 14px;
}

.chat-form {
    font-size: .5em;
}
